[Unit]
Description=HealthSignal Server
ConditionPathExists=/usr/local/bin/healthsignal-server-linux-amd64
After=network.target

[Service]
Type=simple
User=healthsignal
Group=healthsignal
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60
ExecStart=/usr/local/bin/healthsignal-server-linux-amd64 -db="user=healthsignal password=kdnfzLsopAt6eBwJfpYt dbname=healthsignal sslmode=disable"

[Install]
WantedBy=multi-user.target
