{
  "env": {
    "browser": true
  },
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/heading-has-content": 0,
    "jsx-a11y/anchor-has-content": 0,
    "no-underscore-dangle": [
      "error", {
        "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"]
      }
    ],
    "jsx-a11y/anchor-is-valid": [ "error", { "components": [ "Link" ], "specialLink": [ "to" ] } ]
  }
}
